.caixa-transicao{
         width:100px;
         height:100px;
         background-color:#e74c3c;
         transition: transform 1s ease-in-out;
      }
      
.container:hover .caixa-transicao{
          transform: translateX(200px);
      }
